div.filter-tags-home {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 20px 0;

  input:checked + label {
    color: #b7b7b7;
  }
}

.filter-tag-home {
  background: #b7b7b7;
  padding:10px;
  border-radius: 5px;
  flex: 0 0 30%;
  text-align: center;
  &:hover {
    opacity: 0.8;
    cursor: pointer;
  }
  &.active {
  background: $primary;
  color: white;
  opacity: 1;
  }
}

.tag-styling {
    height: 250px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    background-size: cover;
    margin: 10px;
  }
