.description {
  border-radius: 5px;
}

.destination {
  margin: 25px;
}

.review{
  display:flex;
  margin: 10px;
  box-shadow: 4px;
}


.photo img {
  height: 100px;
  border-radius: 4px;
}
// ANTHO

.trip-banner {
  border-radius: 20px;
  background-size: cover;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.trip-banner h1 {
  text-align: center;
  color: white;
}


.trip-banner p {
  color: white;
}

.trip-description {
  text-align: center;
  margin: 0px;
  padding: 20px;
  border-radius: 20px;
  background-color: white;
}

.trip-description p {
  margin: 0px;
}

.users-grid {
  flex-wrap: wrap;
}

// .users-grid {
//   display: grid;
//   grid-template-columns: repeat(3, 1fr);
//   grid-gap: 16px;
// }

// @media (max-width: 768px) {
//    .users-grid {
//     display: grid;
//     grid-template-columns: repeat(2, 1fr);
//   }
// }

// @media (max-width: 576px) {
//    .users-grid {
//     display: grid;
//     grid-template-columns: repeat(1, 1fr);
//   }
// }

a {
  text-decoration: none;
  color: $my-black;
}

a:hover {
  text-decoration: none;
  color: $my-black;
}
