.description {
  border-radius: 5px;
}

.destination {
  margin: 25px;
}

.review {
  border-radius: 20px;
  position: relative;
  background-color: white;
}

.reviewer {
  display: flex;
}

.reviewer .review-trip {
  display: flex;
}

.reviewer-info-name {
  font-size: 14px;
  margin-left: 10px;
  margin-bottom: 0px;
}

.reviewer-info-date {
  font-size: 12px;
  font-weight: 300;
  margin-left: 10px;
  margin-bottom: 0px;
}

a.delete-review {
  transform: rotate(45deg);
  font-weight: 600;
  color: $my-blue;
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 15px;
}

// ANTHO

.trip-banner {
  top: 0px;
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.trip-banner h1 {
  text-align: center;
  color: white;
}


.trip-banner p {
  color: white;
}

.trip-description {
  text-align: center;
  margin: 0px;
  padding: 20px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.2);

  h2 {
    color: white;
  }
}

.trip-description p {
  margin: 0px;
}

.users-grid {
  flex-wrap: wrap;
}

// .users-grid {
//   display: grid;
//   grid-template-columns: repeat(3, 1fr);
//   grid-gap: 16px;
// }

// @media (max-width: 768px) {
//    .users-grid {
//     display: grid;
//     grid-template-columns: repeat(2, 1fr);
//   }
// }

// @media (max-width: 576px) {
//    .users-grid {
//     display: grid;
//     grid-template-columns: repeat(1, 1fr);
//   }
// }

a {
  text-decoration: none;
  color: $my-black;
}

a:hover {
  text-decoration: none;
  color: $my-black;
}

// SHOW USER
.user-col-right {
    width: 75%;
}

// RAPH
.posts-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
}

@media (max-width: 1000px) {
  .posts-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 576px) {
  .posts-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
