<div class="container mt-5 show-container">
  <h2 class="text-center mb-5">Review your trip applications</h2>
  <div class="post-content bg-white p-5 mb-3 rounded">
  <%= link_to "<-- Back to your trip", trip_path(@trip), class: "btn-travel-secondary mt-3" %>
    <div class="users-grid d-flex justify-content-around mt-5">
      <% if @bookings.first %>
        <% @bookings.each do |booking| %>
          <div id="booking-<%= booking.id %>" class="card-and-review">
            <%= render 'shared/usercards-pending', user: booking.user, booking: booking %>
          </div>
        <% end %>
      <% else %>
        <p> You have no application to review for the moment, come back later! ⌛</p>
      <% end %>
    </div>
  </div>
</div>
