<% if activity.photo.attached? %>
  <div class="container-card-activity d-flex text-center align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path activity.photo.key %>')" >
<% else %>
  <div class="container-card-activity d-flex text-center align-items-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/1024px-No_image_available.svg.png')" >
<% end %>
  <%= link_to activity.title, activity.url, style: 'font-size: 14px;', class: 'p-2' %>
  <p><%= activity.description %></p>
  <%#= cl_image_tag(trip.photo.key, :width=>200 , :height=> 100 , :crop=>"scale") %>
</div>
