<div class="container-card-activity d-flex text-center align-items-center" >
  <p><strong><%= activity.title %></strong></p>
  <p><%= activity.description %></p>
  <%#= cl_image_tag(trip.photo.key, :width=>200 , :height=> 100 , :crop=>"scale") %>
</div>
