<div class="post-cards-container">
  <div class="post-cards-container__items">
    <% posts.each do |post| %>
      <%= link_to trip_post_path(post.trip.id, post.id), :action => 'go' do %>
        <div class="polaroid">
          <div class="polaroid__content">
            <div class="polaroid__content-image">
              <img src="<%= cl_image_path post.photo.key, crop: :fill %>" alt=''>
            </div>
            <div class="polaroid__content-caption">
              <p class= "polaroid__content-caption-text"><%= post.content.truncate(125) %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
