<!-- USER CARD -->
<div class="usercard-container">
  <div class="usercard-image" style="background-image: url(https://images.unsplash.com/photo-1543123820-ac4a5f77da38?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1362&q=80);"></div>
  <!-- BADGE -->
  <div class="card-badges">
    <span class="badge badge-secondary py-2 px-3 font-weight-light" style="position: absolute; left: 20px; top:20px;">OWNER</span>
  </div>
  <div class="card-info">
    <div class="usercard-top">
      <h2 class="usercard-name">John DOE</h2>
      <!-- AVERAGE RATING -->
      <div class="reviews">
        <li class="list-inline-item star-orange"><i class="fas fa-star"></i></li>
        <li class="list-inline-item star-orange"><i class="fas fa-star"></i></li>
        <li class="list-inline-item star-orange"><i class="fas fa-star"></i></li>
        <li class="list-inline-item star-orange"><i class="fas fa-star"></i></li>
        <li class="list-inline-item star-orange"><i class="fas fa-star"></i></li>
      </div>
    </div>
    <div class="usercard-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, veritatis.</div>
  </div>
</div>
