<div class="container">
  <h1>Lorem ipsum, dolor.</h1>
  <h2>Lorem ipsum dolor sit, amet.</h2>
  <h3>Lorem, ipsum dolor sit amet consectetur, adipisicing.</h3>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus, deleniti sunt itaque, molestiae, sit possimus, consequuntur quod ratione a doloribus harum rem aperiam incidunt distinctio porro reprehenderit ea illo assumenda.</p>
  <a href="#" class="btn btn-travel-primary">Click me</a>
  <a href="#" class="btn btn-travel-secondary">Click me</a>
</div>
