<div class="container">
  <h1 class="text-center mt-4"> All <%=@user.first_name%>' s posts </h1>
  <div class= "text-center mb-3 mt-3">
    <%= link_to 'Back to profile', user_path(@user), class: "btn btn-travel-secondary mb-3" %>
    <% if @user == current_user %>
      <%= link_to 'Add a new post', new_user_post_path(@user), class: "btn btn-travel-primary mb-3" %>
    <% end %>
  </div>
  <%= render 'shared/post_cards_grid', user: @user, posts: @user.posts %>
</div>
