.footer {
  background-color: $my-black;
  height: $footer-height;
  color: white;
  font-size: 14px;
}

.footer p {
  margin: 0px;
}

.column li {
  list-style: none;
}

.right-side i {
  font-size: 24px;
  margin-left: 5px;
}
