#map {
  border-radius: 20px;
}

#map2 {
  border-radius: 20px;
}

#trips-index #map {
  width: 50% !important;
  position: sticky;
  top: 94px;
}


.mapboxgl-popup {
  max-width: 300px;
}

.mapboxgl-popup-content {
  padding: 0px !important;
  border-radius: 6px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}


.container-card a {
  color: white !important;
  font-weight: bold;
  display: block;
  margin-right: auto;
  margin-left: auto;

}
.container-card a:hover {
  text-decoration: none;


}
.container-card a:active {
  text-decoration: none;
}

.container-card {
  width: 180px;
  height: 120px;
  background-position: center;
  background-size: cover;

}

.mapboxgl-marker:hover {
  cursor: pointer;
}

.container-card-activity {
  color: white !important;
  width: 180px;
  height: 120px;
  background-position: center;
  background-size: cover;
  flex-direction: column;
  padding: 10px;
}

.container-card-activity a {
  color: white !important;
  font-weight: bold;
}

@media (max-width: 995px) {
  #trips-index #map {
    width: 100% !important;
    position: relative;
    top: 0;
  }
}
