.navbar-lewagon {
  justify-content: space-between;
  transition: background-color 0.35s ease-in-out;
  height: $navbar-height;
  background-color: white;
  .dropdown-menu {
    overflow: hidden;
  }
}

.navbar-nav .dropdown-menu {
  position: absolute;
}

.navbar-lewagon .navbar-collapse {
  @include media-breakpoint-down(xs) {
    position: absolute;
  }

  flex-grow: 0;

  top: 80px;
  right: 0px;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
}

.navbar-icon-bg-orange {
  background-color: $my-orange;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.navbar-icon-bg-grey {
  background-color: grey;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  color: white;
}

.navbar-icon-bg-orange i {
  color: white;
  font-size: 20px;
}


.navbar-icon-bg-black {
  background-color: $my-black;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.navbar-icon-bg-black i {
  color: white;
  font-size: 20px;
}

#pages-home .container-view {
  margin-top: 0px;
}

#trips-show .container-view {
  margin-top: 0px;
}

#messages-index .container-view {
  margin-top: 0px;
}

.login-white .navbar-nav .nav-link {
  color: white;
}

.navbar-white {
  background-color: white;
  transition: background 0.35s ease;
}

.form-navbar {
  @include media-breakpoint-down(sm) {
    position: absolute;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
  }
  @include media-breakpoint-up(sm) {
    max-width: 70vw;
    width: 70vh;
  }
}

.navbar-searchbar {
  @include media-breakpoint-down(sm) {
    width: 70vw;
  }
  transition: all 0.3s ease;
  input#query {
    border-radius: 30px;
    height: 50px;
  }
  &.hide-searchbar {
    transition: all 0s ease;
    width: 0;
    input#query {
      padding: 0;
      border: 0;
    }
    button {
      height: 0;
      width: 0;
      display: none;
      i {
        font-size: 0;
      }
    }
  }
}

.hide-searchbar .container form {
  transition: all 1s ease-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
}

.linear-gradient {
  background: linear-gradient(to top, rgba(255, 255, 255, 0), #ffffff);
}

.navbar-white .container form {
  opacity: 1;
  height: auto;
}

.background-none {
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.35s ease-in-out;
}
