.navbar-lewagon {
  justify-content: space-between;
  height: $navbar-height;
  background-color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
}

.navbar-icon-bg-orange {
  background-color: $my-orange;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.navbar-icon-bg-orange i {
  color: white;
  font-size: 20px;
}

.navbar-icon-bg-black {
  background-color: $my-black;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
}

.navbar-icon-bg-black i {
  color: white;
  font-size: 20px;
}

#pages-home .container-view {
  margin-top: 0px;
}

.login-white .navbar-nav .nav-link {
  color: white;
}

.navbar-white {
  background-color: white;
  transition: background 0.35s ease;
}

.hide-searchbar .container form {
  display: none;
}

.linear-gradient {
  background: linear-gradient(to top, rgba(255, 255, 255, 0), #ffffff);

}
