.roundcounter-red {
  display: flex;
  align-items: center;
  justify-content : center;
  color: white;
  background-color: red;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  text-align: center;
  font-size: 10px;
  font-weight: bold
}

.roundcounter-orange {
  display: flex;
  align-items: center;
  justify-content : center;
  color: white;
  background-color: #f2a365;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-align: center;
  font-size: 14px;
  font-weight: bold
}
